
@model IEnumerable<RugratsWebApp.Models.AccountModel>

@{
    ViewBag.Title = "SenderToOtherAccounts";
}


<div class="col-xs-12">
    <h2>Sender Account List</h2>

    <div class="box">
        <div class="box-header">

            <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">

                </div>
            </div>

            @{
                try
                {
                    if (TempData["status"].ToString() == "0")
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            @TempData["StatusDescription"].ToString()
                        </div>
                    }
                    else if (TempData["status"].ToString() == "1")
                    {
                        <div class="alert alert-success alert-dismissible">
                            <h4><i class="icon fa fa-check"></i> Alert!</h4>
                            @TempData["StatusDescription"].ToString()
                        </div>
                    }

                }
                catch (Exception)
                {
                }

            }
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            Account No
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Blockage Amount
                        </th>
                        <th>
                            Net Balance
                        </th>
                        <th>
                            Opening Date
                        </th>
                        <th>
                            Last Transaction Date
                        </th>
                        <th>
                            Select Account
                        </th>
                        <th></th>
                    </tr>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.accountNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.blockageAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.netBalance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.openingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lastTransactionDate)
                                </td>
                                <td>
                                    <form action="/MoneyTransfers/ToOtherAccounts" method="get">
                                        <input type="hidden" name="AccountNo" value="@item.accountNo" />
                                        <input type="hidden" name="NetBalance" value="@item.netBalance" />
                                        <button type="submit" class="btn btn-block btn-warning btn-xs">Choice</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
